$color-text: #fff; // основной цвет текста
$color-link-gray: #070716; // основной цвет ссылок
$color-bg-black: #000; // основной цвет заднего фона
$color-bg-aqua: #1eacc7; // дополнительный цвет заднего фона
